@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-beige-100 text-gray-800;
}

body.dark {
  @apply bg-deepBlue-900 text-gray-100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-10px) translateX(5px);
  }
  50% {
    transform: translateY(-20px) translateX(-5px);
  }
  75% {
    transform: translateY(-10px) translateX(5px);
  }
}

@keyframes rocket {
  0%, 100% {
    transform: translate(0, 0) rotate(-45deg);
  }
  25% {
    transform: translate(50px, -50px) rotate(-35deg);
  }
  50% {
    transform: translate(100px, -100px) rotate(-40deg);
  }
  75% {
    transform: translate(50px, -50px) rotate(-45deg);
  }
}
